body {
	max-width: 1000px;
	padding: 4rem 3rem;
	margin: auto;
	background-color: #FEFEFC;
}

h1,
h2 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: calc((2.5) * 1.5vw + 1rem);
	line-height: 1.2;
	padding-bottom: calc(((2.8 - 1) * 1.2vw + 1rem)/2);
}

h2 {
	font-size: calc((1.3) * 1.2vw + 1rem);
	line-height: 1.6;
	padding: calc((1.2vw + 1rem)/1.5) 0;
}

p,
li,
h3 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.02em;
    font-size: calc(0.3vw + 0.8rem);
	line-height: 1.6;
	font-weight: 350;
}

h3 {
	font-weight: 400;
}

@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution:  192dpi) {
	h1 {
		font-size: 76pt;
	}

	h2 {
		font-size: 42pt;
	}

	p,
	li,
	h3 {
	    font-size: 24pt;
	}
}

p {
	padding-bottom: calc(12px + 1rem);
}

b {
    display: inline-block;
    padding: 0.03rem 0.4rem;
    background: #F4DCFD;
    font-weight: 400;
}

code {
    display: inline-block;
    padding: 0.02rem 0.3rem;
    margin: 0 0.1rem;
    font-weight: light;
    background: #E8E8E8;
    font-family: monospace;
    font-size: calc(0.1vw + 0.8rem);
}

.code-block {
	display: inline-block;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    font-weight: light;
    background: #f5f5f5;
    border-left: 8px #E8E8E8 solid;
    margin-bottom: calc(12px + 1rem);
}

.code-block p {
	font-family: monospace;
	padding-bottom: 0px;
	font-size: calc(0.1vw + 0.8rem);
}

i {
	font-style: italic;
}

ul,
ol {
 	padding-left: 3rem;
 	list-style-position: outside;
}

ul {
 	list-style-type: disc;
}

ol {
 	list-style-type: upper-greek;
}

li,
h3 {
	padding-bottom: calc((1.2vw + 1rem)/2);
}

a {
	color: #0f7afc; 
	border-bottom: solid 1px; 
	border-bottom-color: rgba(15, 122, 252, 0.2);
	text-decoration:none
}

a:visited {
  color: purple;
  border-bottom-color: purple;
}
